<!-- <!DOCTYPE html>
<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
</head>
    <h1>Workout Catalog</h1>

<body class = 'image'>
    <p>This is a place to create a catalog of your various fitness routines. <br>
        First login, then create a category which correlates to an area of your body,
        and finally create or browse items targeting that body part.
    </p>
    <div>
        <a href="{{url_for('showCategorys', category_id = category.id)}}">Click here to Get Started</a>
    </div>
</body>
</html> -->