<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
	</head>
<body>

<h1>New Item:</h1>

<form action="{{ url_for('newMenuItem', category_id=category_id )}}" method = 'post' name="AddItemForm">
        <dl>
                <dt>Name:</dt>
                        <dd><input type ='text' size='30' name='name' required></dd>
                    <dt>Description:</dt>
                                <dd><textarea name = 'description' rows='5' cols='40' required></textarea></dd>
                    <dt>Price($):</dt>
                                <dd><input type = 'text' size = '8' name='price' required></dd>
        </dl>

<input type='submit' value='Create'>
</form>

<a href="/category">Cancel</a>

</body>
</html>
