{% extends "main.html" %}
{% block content %}
	<div class="row divider">
		<div class="col-md-12"></div>
	</div>
	<div class="row main">
		<div class="col-md-1"></div>
		<div class="title col-md-11 padding-none">
			<h1>Workout Catergorys:</h1>
		</div>
	</div>
	
	<!-- <div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="title padding-none">
			
		</div>
		<div class="col-md-1"></div>
	</div> -->
	{% for catergory in catergorys %}
		<a href = "{{url_for('showCategorys', category_id = category.id)}}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 category-list">
						<h3>{{category.name}}</h3>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>
	{% endfor %}
{% endblock %}
